/**# Front-end Style Guide

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
> testing the full range of screen sizes from 320px to large screens.


/****** Propriétés CSS globales ***********/

/* Couleurs utilisées */
:root {
  --Jaune: hsl(47, 88%, 63%);
  --Blanc: hsl(0, 0%, 100%);
  --Gris: hsl(0, 0%, 50%);
  --Noir: hsl(0, 0%, 7%);
}

/****** Propriétés CSS par élément ***********/

/* Propriétés générales de la page */
body {
  font-family: "Figtree", sans-serif;
  background-color: var(--Jaune);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/* Mise en place de Flexbox dans Main pour contrôler l'emplacement du contenu */
main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

/* Création de la carte et mise en forme*/
.carte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding: 1.5rem;
  width: 24rem;
  background-color: var(--Blanc);
  border: 1px solid var(--Black, #111);
  border-radius: 1.25rem;
  box-shadow: 8px 8px 0 0 var(--Noir);
}

/* Mise en forme de la carte au survol */
.carte:hover {
  box-shadow: 16px 16px 0px 0px #000;
}

/* Mise en page du contenu texte de la carte */
.contenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

/* Mise en page du nom de la catégorie */
.categorie {
  color: var(--Noir);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  background-color: var(--Jaune);
  border-radius: 0.25rem;
  display: flex;
  padding: 0.25rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Mise en page de la date, le paragraphe arrivant immédiatement après la catégorie */
.categorie + p {
  color: var(--Noir);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

/* Mise en page du titre */
h1 {
  color: var(--Noir);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

/* Mise en forme du titre au survol */
h1:hover {
  color: var(--Jaune);
  cursor: pointer;
}

/* Mise en page du résumé, le paragraphe arrivant immédiatement le titre */
h1 + p {
  color: var(--Gris);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

/* Mise en page de la section auteur */
.auteur {
  color: var(--Noir);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

.pp-auteur {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

/* Mise en forme du pied de page */
footer {
  font-size: 11px;
  text-align: center;
}

/* Mise en forme des liens */
a {
  color: var(--Noir);
  text-decoration: none;
}

/* Couleur des liens au survol */
a:hover {
  color: var(--Gris);
}
