/**# Front-end Style Guide

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
> testing the full range of screen sizes from 320px to large screens.

### Body Copy

- Font size (paragraph): 16px

### Font

- Weights: 500, 800
**/

/****** Propriétés CSS globales ***********/

/* Couleurs utilisées */
:root {
  --Jaune: hsl(47, 88%, 63%);
  --Blanc: hsl(0, 0%, 100%);
  --Gris: hsl(0, 0%, 50%);
  --Noir: hsl(0, 0%, 7%);
}

/****** Propriétés CSS par élément ***********/

/* Propriétés générales de la page */
body {
  font-family: "Figtree", sans-serif;
  background-color: var(--Jaune);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/* Mise en place de Flexbox dans Main pour contrôler l'emplacement du contenu */
main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

/* Création de la carte et mise en forme*/
.carte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding: 1.5rem;
  width: 24rem;
  background-color: var(--Blanc);
  border: 1px solid var(--Black, #111);
  border-radius: 1.25rem;
  box-shadow: 8px 8px 0 0 var(--Noir);
}

/* Mise en forme de la carte au survol */
.carte:hover {
  box-shadow: 16px 16px 0px 0px #000;
}


/* Mise en forme du pied de page */
footer {
  font-size: 11px;
  text-align: center;
}

/* Mise en forme des liens */
a {
  color: var(--Noir);
  text-decoration: none;
}

/* Couleur des liens au survol */
a:hover {
  color: var(--Gris);
}
